:root {
background-color: rgb(255, 255, 255); 
font-family: Arial, Helvetica, sans-serif;
--ifm-menu-background-color: #222;  /* Dark background */

}
[data-theme='dark'] {
/* Sidebar Background */
.theme-doc-sidebar-container {
  background-color: #2c3e50; /* Dark Blue */
  color: white;
}

/* Main Content Background */
.theme-doc-markdown {
  background-color: #ffffff; /* Light Gray */
  color: #333;
  padding: 20px;
}

/* background-color: #060b10; */
font-family: Arial, Helvetica, sans-serif;
.highlighted-line {
color: white;
}
.highlighted-line-gold{
  color: black;
}

}

.highlighted-line-gold{
  color: black;
}
.spacer {
    margin-top: 25px;  /* Adjust spacing as needed */
}
.justified-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .left-text {
    text-align: left;
  }
  
  .right-text {
    text-align: right;
  }
  